#agendamentoForm {
    text-align: left;
    margin-top: 20px;
}

#agendamentoForm .form-group {
    margin-bottom: 15px;
}

#agendamentoForm label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

#agendamentoForm input[type="date"],
#agendamentoForm select,
#agendamentoForm input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#agendamentoForm .btn {
    margin-top: 20px;
}